article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* ----------start----------- */

html {
  font-size: 62.5%;
}

img {
  width: 100%;
  height: 100%;
}

video {
  width: 100%;
  height: 100%;
}

.wrapper {
  max-width: 100rem;
  margin: 0 auto;
}

nav {
  height: 6vh;
  background: white;
}

nav .wrapper {
  display: flex;
  justify-content: space-between;
  height: 6vh;
}

.navLogo {
  width: 30%;
  max-width: 25rem;
}

.setting {
  border: none;
  background: skyblue;
  color: white;
  width: 15%;
}

/* ------------------------ */
/* --------nav------------- */
/* ------------------------ */

header {
  background: rgb(245, 245, 245);
  height: 33vh;
}

.headerFlexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.profileImage {
  position: relative;
  width: 22rem;
  height: 22rem;
}

.profileImage img {
  border-radius: 50%;
}

.profileImage label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  text-align: center;
  padding-top: 2.5%;
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  background-color: pink;
  border-radius: 3rem;
  cursor: pointer;
}

.profileImage:hover label,
.profileImage:focus label {
  background: skyblue;
  outline: 1px dotted black;
}

.profileImage input {
  font-family: 'Simonetta', ;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 65%;
  height: 70%;
}

.userInfo h1 {
  font-size: 3.5rem;
  margin: 0;
}

.userInfo p {
  font-size: 2rem;
}

.userInfo label {
  width: 35%;
  height: 3.5rem;
  text-align: center;
  padding-top: 2%;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background-color: skyblue;
  border-radius: 3rem;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
}

.userInfo label:hover,
.userInfo label:focus {
  background: yellow;
  outline: 1px dotted black;
}
    
.userInfo input {
  overflow: hidden;
  z-index: -1;
}

.userInfo .progressBar {
  position: relative;
  width: 100%;
  height: 4rem;
  background: skyblue;
  border-radius: 3rem;
}

.userInfo .progressBar span {
  position: absolute;
  background: pink;
  border-radius: 3rem;
  max-width: calc(100% - 1.4rem);
  left: 0.7rem;
  top: 0.7rem;
  bottom: 0.7rem;
  transition: width 0.3s;
}


/* ------------------------ */
/* ---------header--------- */
/* ------------------------ */


.gallery {
  min-height: 61vh;
  padding: 5rem 0;
  background: rgb(245, 245, 245);
}

.gallery .wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.galleryImage {
  position: relative;
  width: calc(100% / 3 - 1.5rem);
  min-height: 25rem;
  border-radius: 2rem;
  overflow: hidden;
  background: skyblue;
  margin-bottom: 3rem;
}

.galleryImage:nth-child(3n+2) {
  margin: 0 2.25rem 3rem;
}

.galleryImage.enlarged {
  position: fixed;
  width: 100vw;
  height: 100vh;
  max-height: none;
  top: 0;
  left: 0;
  z-index: 3;
  background: pink;
  margin: 0;
}

.galleryImage img {
  position: absolute;
  top: 0;
  left: 0;
  height: 89%;
  transition: all 0.3s;
}

.galleryImage:hover img,
.galleryImage:hover img {
  transform: scale(1.2);
}

.galleryImage.enlarged:hover img{
  transform: scale(1);
}

.galleryImage button {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 11%;
  text-transform: uppercase;
  color: white;
  border: none;
  border-radius: 1.5rem;
  background: pink;
  font-size: 1.8rem;
}

/* ------------------- */
/* ------gallery------ */
/* ------------------- */


.landingPage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 94vh;
}

.signInForm {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.signInForm label {
  font-size: 1.8rem;
}

.signInForm input {
  margin-bottom: 5rem;
  height: 3.5rem;
  font-size: 1.8rem; 
}

.landingPage button {
  width: 50%;
  margin: 0 auto;
}

/* ------------------------ */
/* ------landing page------ */
/* ------------------------ */

.bioSection {
  width: 85%;
  margin: 0 auto;
}

.bioContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bioForm {
  height: 35vh;
  display: flex;
  flex-direction: column;
}

.bioForm label {
  font-size: 3rem;
  margin-top: 3.5rem;
}

.bioForm input {
  height: 3rem;
  font-size: 1.6rem;
}

.bioForm button {
  width: 35%;
  height: 3rem;
  margin: 3rem auto 0;
}

.bio {
  width: calc(100% / 2 - 1.5rem);
  min-height: 25rem;
  margin-bottom: 3rem;
  padding: 1.5rem;
  border-radius: 2rem;
  background: skyblue;
  color: white;
}

.bio h3 {
  font-size: 3.5rem;
  margin: 0 0 2rem;
}

.bio p {
  font-size: 2rem;
}
