article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* ----------start----------- */

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

img,
video {
  width: 100%;
  height: 100%;
}

.wrapper {
  max-width: 100rem;
  width: 96.5%;
  margin: 0 auto;
}

/* ------------------*/
/* ------global----- */
/* ----------------- */

.landingPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.testMode {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 15%;
}

h2 {
  font-size: 3rem;
  margin: 0;
  text-transform: uppercase;
}

.testModeButton {
  width: 15rem;
  height: 4rem;
  color: white;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: bold;
  background: linear-gradient(319deg, #6FB1FC, #4364F7, #0052D4); 
  border-radius: 1rem;
  transition: all 0.3s;
}

.testModeButton:hover,
.testModeButton:focus {
  background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); 
  transform: scale(1.1);
}

.signInForm,
.signUpForm {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 80rem;
  width: 70%;
  padding: 6%;
  border-radius: 1rem;
  background: linear-gradient(to right, #0072ff, #00c6ff); 
}

.signUpForm {
  background: linear-gradient(319deg, #6FB1FC, #4364F7, #0052D4); 
}

.signInForm label,
.signUpForm label {
  color: white;
  font-size: 2.2rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.signInForm input,
.signUpForm input {
  margin-bottom: 8rem;
  height: 3.7rem;
  font-size: 1.9rem; 
}

.signUpForm a {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  text-decoration: none;
  font-size: 3.5rem;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}

.signUpForm a:hover,
.signUpForm a:focus {
  transform: scale(1.5);
}

.signUpPageButton {
  width: 50%;
  height: 4rem;
  font-size: 1.7rem;
  font-weight: bold;
  margin: 0 auto;
  color: white;
  background: linear-gradient(to right, #0072ff, #00c6ff); 
  cursor: pointer;
  border-radius: 1rem;
  text-transform: uppercase;
  transition: all 0.3s;
  border: none;
  box-shadow: 0 0 0.5rem 0.1rem white;
}

.signUpPageButton:hover,
.signUpPageButton:focus {
  background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); 
  transform: scale(1.1);
}

.signInAndUpButtons {
  display: flex;
  justify-content: space-around;
}

.signInAndUpButtons button,
.signInAndUpButtons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 4rem;
  font-size: 1.7rem;
  font-weight: bold;
  color: white;
  background: linear-gradient(319deg, #6FB1FC, #4364F7, #0052D4); 
  cursor: pointer;
  border-radius: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  box-shadow: 0 0 0.5rem 0.1rem white;
  transition: all 0.2s;
}

.signInAndUpButtons button:hover,
.signInAndUpButtons button:focus,
.signInAndUpButtons a:hover,
.signInAndUpButtons a:focus {
  background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);
  transform: scale(1.1);
}

/* ------------------------ */
/* ------landing page------ */
/* ------------------------ */

header {
  height: 33vh;
}

.headerFlexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.profileImage {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileImage label {
  display: inline-block;
  width: 21rem;
  height: 21rem;
  cursor: pointer;
}

.profileImage img {
  border-radius: 50%;
  font-size: 0;
}

.profileImage input {
  width: 0.1px;
  height: 0.1px;
}

.profileImage input:focus + label {
  outline: 1px dotted black;
}

.profileImage .uploadImageText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  line-height: 2.5rem;
}

.uploadImageText span {
  text-align: center;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  width: 65%;
  height: 85%;
}

.userInfo h1 {
  font-size: 3rem;
  margin: 0;
}

.uploadAndSignOutButtons {
  display: flex;
  justify-content: space-evenly;
  text-transform: uppercase;
}

.uploadAndSignOutButtons input {
  position: absolute;
	opacity: 0;
	z-index: -1;
}

.uploadAndSignOutButtons label,
a.signOutLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16rem;
  height: 4rem;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  background: linear-gradient(to right, #0072ff, #00c6ff); 
  cursor: pointer;
  border-radius: 1rem;
  transition: all 0.2s;
}

.uploadAndSignOutButtons label:hover,
.uploadAndSignOutButtons input:focus + label {
  background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); 
  transform: scale(1.1);
}

.signOutLink {
  text-decoration: none;
}

.signOutLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13rem;
  height: 3.7rem;
  font-size: 1.7rem;
  font-weight: bold;
  color: white;
  background: linear-gradient(to right, #0072ff, #00c6ff); 
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.2s;
}

.signOutLink:hover,
.signOutLink:focus {
  background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); 
  transform: scale(1.1);
}

.uploadEmoji {
  display: none;
}

.uploadEmoji.emojiVisible {
  display: inline-block;
  position: absolute;
  font-size: 3rem;
  animation: emoji 1s ease-in-out infinite;
}

@keyframes emoji {
  0% {
    margin-top: 0;
  }

  50% {
    margin-top: -5rem;
  }

  100% {
    margin-top: 0;
  }
}

.progressBar {
  position: relative;
  background: linear-gradient(to right, #0072ff, #00c6ff); 
  width: 100%;
  height: 3.5rem;
  border-radius: 1rem;
}

.progressBar span {
  position: absolute;
  background: white;
  border-radius: 1rem;
  max-width: calc(100% - 1.4rem);
  left: 0.7rem;
  top: 0.7rem;
  bottom: 0.7rem;
  animation: progress 1.5s ease-in-out infinite;
  transition: width 0.3s;
}

.progressBar span.progress {
  animation: none;
}

@keyframes progress {
  0% {
    width: 0%
  }

  50% {
    width: 2%;
  }

  100% {
    width: 0%;
  }
}


/* ------------------------ */
/* ---------header--------- */
/* ------------------------ */


.gallery {
  min-height:67vh;
}

.gallery .wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
}

.links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 100rem;
  height: 7vh;
  margin: 2.5rem auto 5rem;
}

.links a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 0.2rem solid #0072ff;
  border-radius: 1rem;
  transition: all 0.3s;
  max-width: 18rem;
  width: 27%;
  height: 6.2rem;
  font-size: 4rem;
  color: #0072ff;
  transition: all 0.3s;
}

.highlight {
  background: rgba(0, 0, 0, 0.2);
}

.links i {
  transition: all 0.3s;
  outline: none;
}

.links a:hover i,
.links a:focus i {
  transform: scale(1.2);
}

.links a:hover,
.links a:focus {
  background: rgba(0, 0, 0, 0.2);
}

.galleryImage {
  position: relative;
  width: calc(100% / 3 - 1.34rem);
  min-height: 35rem;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 2rem;
  cursor: pointer;
}

.galleryImage:nth-child(3n+2) {
  margin: 0 2rem 2rem;
}

.galleryImage img,
.galleryImage video {
  position: absolute;
  top: 0;
  left: 0;
  height: 90%;
  transition: all 0.3s;
  object-fit: cover;
}

.galleryImage:hover img,
.galleryImage:focus img {
  transform: scale(1.2);
}

.galleryImage.enlarged {
  position: fixed;
  width: 100vw;
  height: 100vh;
  max-height: none;
  top: 0;
  left: 0;
  z-index: 3;
  margin: 0;
  background: white;
}

.galleryImage.enlarged img {
  object-fit: contain;
  transform: scale(1);
}

.galleryImage span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10%;
  text-transform: uppercase;
  color: white;
  border: none;
  background: linear-gradient(to right, #0072ff, #00c6ff); 
  font-size: 1.8rem;
}

.galleryImage span:hover,
.galleryImage span:focus {
  background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); 
}

/* ------------------- */
/* ------gallery------ */
/* ------------------- */


.journalSection {
  margin: 0 auto;
  width: 100%;
}

.journalContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.journalForm {
  height: 50vh;
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.journalForm label {
  font-size: 3rem;
  margin: 2rem 0;
}

.journalForm input {
  height: 3.5rem;
  font-size: 1.8rem;
}

.journalForm textarea {
  font-size: 1.8rem;
}

.journal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  min-height: 23rem;
  margin-bottom: 3rem;
  padding: 1.5rem;
  border-radius: 2rem;
  border: 2px solid blue;
}

.journal h3 {
  font-size: 3.5rem;
  margin: 0 0 2rem;
}

.journal p {
  font-size: 1.7rem;
  line-height: 2.5rem;
}

.journal button,
.journalForm button {
  width: 10rem;
  height: 3.7rem;
  font-size: 1.7rem;
  font-weight: bold;
  color: white;
  background: linear-gradient(to right, #0072ff, #00c6ff); 
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  text-transform: uppercase;
}

.journalForm button {
  width: 15rem;
  margin: 3rem auto 0;
}

.journalForm button:hover,
.journalForm button:focus,
.journal button:hover,
.journal button:focus {
  background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); 
  transform: scale(1.1);
}


/* --------------- */
/* -------bio----- */
/* --------------- */

@media(max-width: 1000px) {
  .signInForm,
  .signUpForm {
    padding: 8%;
  }

  .gallery .wrapper {
    justify-content: space-between;
  }
  .galleryImage {
    width: calc(100% / 2 - 1rem);
    min-height: 40rem;
  }

  .galleryImage:nth-child(3n+2) {
    margin: 0 0 2rem;
  }

  .journalForm {
    width: 75%;
  }
}

@media(max-width: 700px) {
  .signInForm,
  .signUpForm {
    padding: 12%;
  }

  .signInAndUpButtons button {
    width: 40%;
  }

  .signUpPageButton {
    width: 70%;
  }

  .profileImage label {
    width: 17rem;
    height: 17rem;
  }

  .userInfo h1 {
    font-size: 2.6rem;
  }

  .uploadAndSignOutButtons label,
  a.signOutLink {
    width: 13rem;
    height: 3.5rem;
    font-size: 1.75rem;
  }

  .progressBar {
    height: 3.3rem;
  }

  .progressBar span {
    max-width: calc(100% - 1rem);
    left: 0.5rem;
    top: 0.5rem;
    bottom: 0.5rem;
    transition: width 0.3s;
  }

  .galleryImage {
    width: 100%;
    min-height: 50rem;
  }
}

@media(max-width: 580px) {
  .signInForm,
  .signUpForm {
    width: 100%;
    padding: 16% 12%;
  }

  .profileImage label {
    width: 15rem;
    height: 15rem;
  }

  .userInfo {
    justify-content: flex-start;
  }

  .userInfo h1 {
    width: 100%;
    position: absolute;
    top: 30%;
    left: 0;
    text-align: center;
  }

  .uploadAndSignOutButtons {
    align-items: center;
    flex-direction: column;
    order: 2;
  }

  .progressBar {
    height: 3rem;
  }

  .uploadAndSignOutButtons label {
    margin: 2rem 0;
  }

  .progressBar {
    margin: 5rem 0 2rem;
  }
}

@media(max-width: 430px) {
  header {
    min-height: 28rem;
  }

  .headerFlexContainer {
    align-items: flex-start;
  }

  .userInfo {
    height: 80%;
  }

  .userInfo h1 {
    top: 24.7rem;
  }

  .profileImage label {
    width: 13rem;
    height: 13rem;
  }

  .uploadAndSignOutButtons label,
  a.signOutLink {
    width: 12rem;
    height: 3.5rem;
    font-size: 1.6rem;
  }

  .galleryImage {
    min-height: 40rem;
  }

  .journalForm {
    height: 60vh;
  }
}

@media(max-width: 375px) {
  .userInfo h1 {
    font-size: 2.45rem;
  }

  .signUpPageButton {
    width: 80%;
  }

  .uploadAndSignOutButtons label {
    font-size: 1.5rem;
  }

  .profileImage label {
    width: 12rem;
    height: 12rem;
  }

  .uploadAndSignOutButtons label,
  a.signOutLink {
    height: 3.2rem;
    font-size: 1.5rem;
  }
}